In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
path = '/Users/ivanm/Downloads/archive (1)/job_placement.csv'
df = pd.read_csv(path)
df

,id,name,gender,age,degree,stream,college_name,placement_status,salary,gpa,years_of_experience
0,1,John Doe,Male,25,Bachelor's,Computer Science,Harvard University,Placed,60000,3.7,2.0
1,2,Jane Smith,Female,24,Bachelor's,Electrical Engineering,Massachusetts Institute of Technology,Placed,65000,3.6,1.0
2,3,Michael Johnson,Male,26,Bachelor's,Mechanical Engineering,Stanford University,Placed,58000,3.8,3.0
3,4,Emily Davis,Female,23,Bachelor's,Information Technology,Yale University,Not Placed,0,3.5,2.0
4,5,David Brown,Male,24,Bachelor's,Computer Science,Princeton University,Placed,62000,3.9,2.0
...,...,...,...,...,...,...,...,...,...,...,...
695,696,Lucas Taylor,Male,23,Bachelor's,Computer Science,University of Washington,Placed,67000,3.8,3.0
696,697,Emma Martinez,Female,26,Bachelor's,Electronics and Communication,University of California--Berkeley,Placed,66000,3.9,3.0
697,698,Aiden Davis,Male,24,Bachelor's,Computer Science,University of Illinois--Urbana-Champaign,Placed,65000,3.8,3.0
698,699,Mia Wilson,Female,23,Bachelor's,Electrical Engineering,University of Colorado--Boulder,Placed,66000,3.7,2.0
699,700,Jack Garcia,Male,26,Bachelor's,Information Technology,University of North Carolina--Chapel Hill,Not Placed,0,3.6,1.0

In [19]:
df.isna()

,id,name,gender,age,degree,stream,college_name,placement_status,salary,gpa,years_of_experience
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
695,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False
699,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.dtypes

id                       int64
name                    object
gender                  object
age                      int64
degree                  object
stream                  object
college_name            object
placement_status        object
salary                   int64
gpa                    float64
years_of_experience    float64
dtype: object

In [22]:
df[df['placement_status'] == 'Not Placed']

,id,name,gender,age,degree,stream,college_name,placement_status,salary,gpa,years_of_experience
3,4,Emily Davis,Female,23,Bachelor's,Information Technology,Yale University,Not Placed,0,3.5,2.0
7,8,Emma Garcia,Female,24,Bachelor's,Computer Science,University of Chicago,Not Placed,0,3.6,2.0
11,12,Ava Lopez,Female,25,Bachelor's,Electronics and Communication,Johns Hopkins University,Not Placed,0,3.8,3.0
15,16,Isabella Perez,Female,25,Bachelor's,Mechanical Engineering,University of Virginia,Not Placed,0,3.7,2.0
21,22,Elizabeth Wood,Female,26,Bachelor's,Mechanical Engineering,University of Texas--Austin,Not Placed,0,3.8,3.0
...,...,...,...,...,...,...,...,...,...,...,...
678,679,Liam Perez,Male,25,Bachelor's,Computer Science,University of Pennsylvania,Not Placed,0,3.7,2.0
683,684,Emma Martinez,Female,26,Bachelor's,Electronics and Communication,University of North Carolina--Chapel Hill,Not Placed,0,3.6,1.0
688,689,Oliver Rodriguez,Male,23,Bachelor's,Computer Science,University of California--Riverside,Not Placed,0,3.9,2.0
694,695,Sophia Johnson,Female,24,Bachelor's,Mechanical Engineering,University of Pennsylvania,Not Placed,0,3.7,2.0
699,700,Jack Garcia,Male,26,Bachelor's,Information Technology,University of North Carolina--Chapel Hill,Not Placed,0,3.6,1.0

In [23]:
df[df['placement_status'] == 'Placed']
## Regresion: Definir la probabilidad de obtener un trabajo en base a la universidad de origen
## Experiencia, GPA

## Clasificacion, Definir rangos de sueldo, bien, mal o regular sueldo.

,id,name,gender,age,degree,stream,college_name,placement_status,salary,gpa,years_of_experience
0,1,John Doe,Male,25,Bachelor's,Computer Science,Harvard University,Placed,60000,3.7,2.0
1,2,Jane Smith,Female,24,Bachelor's,Electrical Engineering,Massachusetts Institute of Technology,Placed,65000,3.6,1.0
2,3,Michael Johnson,Male,26,Bachelor's,Mechanical Engineering,Stanford University,Placed,58000,3.8,3.0
4,5,David Brown,Male,24,Bachelor's,Computer Science,Princeton University,Placed,62000,3.9,2.0
5,6,Sarah Wilson,Female,25,Bachelor's,Electronics and Communication,Columbia University,Placed,63000,3.7,1.0
...,...,...,...,...,...,...,...,...,...,...,...
693,694,Alexander Lee,Male,26,Bachelor's,Information Technology,University of Michigan--Ann Arbor,Placed,67000,3.9,3.0
695,696,Lucas Taylor,Male,23,Bachelor's,Computer Science,University of Washington,Placed,67000,3.8,3.0
696,697,Emma Martinez,Female,26,Bachelor's,Electronics and Communication,University of California--Berkeley,Placed,66000,3.9,3.0
697,698,Aiden Davis,Male,24,Bachelor's,Computer Science,University of Illinois--Urbana-Champaign,Placed,65000,3.8,3.0
698,699,Mia Wilson,Female,23,Bachelor's,Electrical Engineering,University of Colorado--Boulder,Placed,66000,3.7,2.0